@model IEnumerable<BlackJack.BLL.Models.DealerStepViewModel>
@{
    ViewBag.Title = "Список шагов дилера";
}

<table class="table">
    <tr><th>Step Id</th><th>Dealer Id</th><th>Rank</th><th>Suite</th></tr>
    @foreach (var step in Model)
    {
    <tr>
        <td>@step.Id</td>
        <td>@step.DealerId</td>
        <td>@step.Rank</td>
        <td>@step.Suite</td>
    </tr>
    }
</table>

