<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlackJack</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - BlackJack</p>
        </footer>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        var PlaceAbetPath = $('#PlaceAbetPath').data("placeABet");
        var HitPath = $('#HitPath').data("hit");

        $('#Take').on('click', function OneCard() {
            alert(PlaceAbetPath);
        });

        $(document).ready(function () {
            if ($('#PlayerBet')[0].value == 0) {
                $('#ButtonHit').hide();
                $('#ButtonStand').hide();
            } else 
            {
                $('#ButtonHit').show();
                $('#ButtonStand').show();
            }
                

        });

        $("#formPlaceAbet").on('click', function () {
            var userName = $('#UserName')[0].value;
            var id = $('#Id')[0].value;
            var balance = $('#Balance')[0].value;
            var bet = $('#Bet')[0].value;
            var gameId = $('#GameId')[0].value;
            PlaceABetFunc(userName, id, balance, bet, gameId);
        });

        $("#ButtonHit").on('click', function () {
            var userName = $('#UserName')[0].value;
            var id = $('#Id')[0].value;

            var gameId = $('#GameId')[0].value;
            PlayerHit(userName, id, gameId);
        });

        function PlaceABetFunc(userName, id, balance, bet, gameId) {
            $.ajax({
                type: 'POST',
                url: PlaceAbetPath,
                data: { 'UserName': userName, 'Id': id, 'Balance': balance, 'Bet': bet, 'GameId': gameId},
                success: function (data) {
                    console.log("good");
                    $('#PlayerBalance')[0].value = balance - bet;
                    $('#PlayerBet')[0].value = bet;
                    $('#LabelBet').hide();
                    $('#Bet').hide();
                    $('#formPlaceAbet').hide();
                    $('#ButtonHit').show();
                    $('#ButtonStand').show();
                    //location.reload();
                },
                error: function (data) {
                    alert(data.responseJSON);
                }
            })
        }

        function PlayerHit(userName, id, gameId) {
            $.ajax({
                type: 'POST',
                url: HitPath,
                data: { 'UserName': userName, 'Id': id, 'GameId': gameId },
                success: function (data) {
                    console.log("hit good");
                    console.log(data);
                    var gameState = data.game.gameState;
                    var dataSuite = data.playerStepVM.suite;
                    var dataRank = data.playerStepVM.rank;
                    $('#TablePlayerStepsInGame tbody:last').append("<tr>" + "<td></td>" + "<td></td>" + "<td>" + dataRank + "</td>" + "<td>" + dataSuite + "</td></tr>");
                    $('#GameState')[0].value = gameState;
                    if ($('#GameState')[0].value == 2) $('#ButtonHit').hide();
                    //location.reload();
                },
                error: function (data) {
                    alert(data.responseJSON);
                }
            })
        }
    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
