@model IEnumerable<BlackJack.BLL.Models.PlayerStepViewModel>
<table class="table" id="TablePlayerStepsInGame">
    <tr><th>User Name</th><th>StepId</th><th>Suite</th><th>Rank</th></tr>
    @foreach (var step in Model)
    {
    <tr>
        <td>@step.Player.UserName</td>
        <td>@step.Id</td>
        <td>@step.Suite</td>
        <td>@step.Rank</td>
    </tr>
    }
</table>
